

.first_row-more h1{
    font-size: 30px;
    font-weight: 600;
    width:65%;
}
.first_row-more_icons{ 
   width:35%;
}

.first_row-more{
    display: flex;
    align-items: center;
    margin:var(--horizontal-space);
}

.first_row-more_icons{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-left: 25px;
    padding-left: 25px;
    

}

.first_row-more_icons span{
    padding-left: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-item: center;
}

.more-Point{
    background-color: tomato;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: right;
    align-items: right;
    }

