.user-components{
    display: flex;
}

.user-components:first-child{
    display: flex;
    align-items: center;
}

.user-components_avatar{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}